.pagination .page-item.active .page-link {
  background-color: #6c757d;   
  border-color: #6c757d;
  color: #fff;
}

.pagination .page-item .page-link:hover {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

.pagination .page-item .page-link:focus {
  box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.3);
}

.form-select:hover,
.form-select:focus {
  border-color: #6c757d;
  box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.3);
}
.form-select option:checked,
.form-select option:hover {
  background-color: #6c757d;
  color: white;
}
